*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 5px;
    background: #222225;
    
    position: fixed;
    top: 0;
    z-index: 1;
}
/* fixed = sticky+absolute */
.container{
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
}
nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_brand{
    color: white;
}
nav .nav__ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
nav .nav__ul .nav__link {
    list-style-type: none;
}
nav .nav__ul .nav__link a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
nav .nav__ul .nav__link a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(47, 45, 45);

}
.wrapper  {
    /* position: fixed; */
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    /* width: 80%; */
    /* position: fixed; */
}
.wrapper .card {
    width: 32%;
    
    background-image: url("https://picsum.photos/400/200");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    padding: 20px 30px;
    object-fit: cover;
}
section{
    background: silver;
    margin-top: 70px;
    padding: 50px;
}
.imgs{
    width: 650px;
    height: 400px;
    margin: 0 auto;
    object-fit: cover;
    object-position: 30px 50px;
    transition: all 0.3s ease-in;
    filter: brightness(1);
    filter: blur(5px);
}   
.imgs:hover{
    /* zoom: 1.1; */
    /* filter: brightness(40%); */
    filter: blur(0px);

}
/* dropdown menu */

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown .menu-content{
    background: white;
    position: absolute;
    display: none;
    color: black;
    border-radius: 4px; 
}
.dropdown .menu-content a {
    color: black;
}
.dropdown .menu-content a :hover{
    background: silver;
}
.dropdown:hover .menu-content {
    display: block;
}